@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<head>
    
</head>
<body>
    <div>
        <div class="content"> </div>
    </div>
</body>