@using System.Security.Claims
@model IEnumerable<News.Models.ArticleViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<style>




    img.card-img-top {
        display: block;
        padding-top: 12px;
        margin-left: auto; 
        margin-right: auto;
        padding-bottom: 12px;
        padding-left: 12px;
    }
</style>

<div>
    @foreach (var item in Model)
    {
        <div class="card">
            <img class="card-img-top" src="~/images/@item.Image">
                <div class="card-body">
                    <h3 class="card-title"><a href="CreateArticle/ArticleInfo/@item.ArticleId">@item.Title</a></h3>
                </div>
        </div>
        <hr>
    }
</div>
